html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
#app {
  height: 100%;
}

* {
  text-decoration: none;
  list-style: none;
}

img {
  border: 0px;
}

ul,
li,
dl,
dd,
dt,
p,
ol,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}
